h1=t.title
h3=t.greeting

ul
  li
    a(href="/?lang=en") English
  li
    a(href="/?lang=hi-IN") Hindi
  li
    a(href="/?lang=ja-JP") Japanese
  li
    a(href="/?lang=ko-KR") Korean
  li
    a(href="/?lang=vi-VN") Vietnamese
  li
    a(href="/?lang=ms-MY") Malay
  li
    a(href="/?lang=zh-CN") Chinese